* {
    font-family: sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
   min-height: 100vh;
}

.card {
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    width: 400px;
    margin: auto;
    text-align: center;

}

.card button {
    text-align: center;
    padding: 5px;
    background-color: blue;
    color: white;
    cursor: pointer;
}
.errorText{
color: red;
font-size: small;
position: relative;
}

