* {
    margin: 5px;
    padding: 5px;
    font-family: sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.navbar button {
    background: red;
}
/* common button */
button{
    background-color:rgb(111, 65, 209);
    font-weight: bolder;
    color: white;
    cursor: pointer;
    padding: 8px;
    border-radius: 5px;
}

.searchbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.searchbar button {
    background: green;
}
.table{
position: relative;
width: 100% ;
border-collapse: collapse;
border: 1px solid black;
overflow: auto;
overscroll-behavior-x: contain;
}
th,td{
border: 1px solid black;
padding: 5px;
text-align: center;

}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}


tr{
cursor: pointer;
}
tr:hover{
background-color: bisque;
color: black;
}

.delete-btn{
background-color: red;
}

.no-Task{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 50px;
}
 button:disabled{
background-color: rgb(105, 80, 80);
cursor:not-allowed;
opacity: .5;
}